* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.283);
}

.loading img {
    width: 300px;
    image-rendering: auto;
    z-index: 100;
}


/*   
.loginpage { 
    width: 100%;
    height: 100vh;
    background-image: url('../../images/loginback.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.385);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formlogin {
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    min-width: 300px;
    width: 100%;
    max-width: 365px;
}
.formlogin h1 {
    text-align: center;
    padding-bottom: 10px;
}
.formlogin label {
    padding-top: 30px;
    padding-bottom: 10px;
}
.formlogin input {
    padding: 8px 14px;
    border-radius: 3px;
    border-width: 0.5px;
}
.btnlogin {
    margin-top: 20px;
    background-color: rgb(45, 230, 66);
    padding: 130px 15px;
    border-radius: 3px;
    border-width: 0.5px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    border: 0;
    cursor: pointer;
} */

.loginpage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    font-family: "Cairo", sans-serif;
}

.blackcover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formlogin {
    width: 400px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgb(0, 0, 0);
}

.formlogin h1 {
    font-size: 2em;
    color: #0f0;
    text-transform: uppercase;
}

.formlogin label {
    color: #fff;
    margin-bottom: 5px;
}

.formlogin input {
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 15px;
}

.formlogin p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.signup-link {
    color: #0f0;
    text-decoration: none;
    font-weight: bold;
}

.btn-login {
    padding: 10px;
    background: #0f0;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}